.formCrudProduct{
    display: flex;
    width: 300px;
    text-align: center;
    justify-content: center;
    background-color: orange;
    border-radius: 10px;
    margin-left: 40%;
    margin-top: -13%;
}
